* {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

#transcript {
	display: flex;
	background: #eee;
	flex-direction: column;
	justify-content: flex-end;
	align-content: flex-end;
	margin: 0% 20%;
}

#transcript div {
	background: white;
	width: 100%;
	padding: 2px;
}

#transcript .mine {
	color: purple;
}

#transcript .theirs {
	color: black;
}

#controls {
	background: #777;
	width: 100%;
	padding: 1em 20% 2em 20%;
	border-top: 1px black solid;
	margin-top: 1em;
	text-align: center;
}

input {
	width: 100%;
	margin-bottom: 0.25em;
}
